@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
.hero-poin {
  position: relative;
  width: 1440px;
  height: 1414px;
  background-color: #ffffff;
}


.hero-poin .overlap {
  position: absolute;
  width: 834px;
  height: 429px;
  top: 217px;
  left: 100px;
}


.hero-poin .group {
  position: absolute;
  width: 834px;
  height: 429px;
  top: 0;
  left: 0;
}


.hero-poin .overlap-group {
  position: relative;
  width: 832px;
  height: 429px;
  background-color: #262832;
  border-radius: 25px;
  box-shadow: 0px 14px 14px #00000040;
}


.hero-poin .text-wrapper {
  width: 368px;
  top: 75px;
  left: 42px;
  font-family: "Helvetica Neue-Heavy", Helvetica;
  font-weight: 400;
  font-size: 64px;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}


.hero-poin .global-warming {
  position: absolute;
  width: 507px;
  height: 381px;
  top: 24px;
  left: 325px;
  object-fit: cover;
}


.hero-poin .div {
  position: absolute;
  width: 376px;
  height: 278px;
  top: 216px;
  left: 975px;
  border-radius: 10px;
  border: 2px solid;
  border-color: #6f6b6b;
}


.hero-poin .text-wrapper-2 {
  position: absolute;
  width: 322px;
  top: 17px;
  left: 22px;
  font-family: "Helvetica Neue-Heavy", Helvetica;
  font-weight: 400;
  color: var(--greyscale-800);
  font-size: 30px;
  letter-spacing: 0;
  line-height: 27.6px;
}


.hero-poin .overlap-2 {
  position: absolute;
  width: 330px;
  height: 26px;
  top: 72px;
  left: 24px;
}


.hero-poin .text-wrapper-3 {
  position: absolute;
  width: 285px;
  top: 1px;
  left: 0;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-weight: 500;
  color: var(--greyscale-800);
  font-size: 21.2px;
  letter-spacing: 0;
  line-height: 24.4px;
}


.hero-poin .text-wrapper-4 {
  top: 0;
  left: 218px;
  text-align: right;
  position: absolute;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #628ecb;
  font-size: 21.2px;
  letter-spacing: 0;
  line-height: 24.4px;
  white-space: nowrap;
}


.hero-poin .overlap-3 {
  position: absolute;
  width: 330px;
  height: 25px;
  top: 112px;
  left: 24px;
}


.hero-poin .text-wrapper-5 {
  position: absolute;
  width: 285px;
  top: 0;
  left: 0;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-weight: 500;
  color: var(--greyscale-800);
  font-size: 21.2px;
  letter-spacing: 0;
  line-height: 24.4px;
}


.hero-poin .overlap-4 {
  position: absolute;
  width: 330px;
  height: 25px;
  top: 151px;
  left: 24px;
}


.hero-poin .overlap-5 {
  position: absolute;
  width: 330px;
  height: 25px;
  top: 190px;
  left: 24px;
}


.hero-poin .overlap-6 {
  position: absolute;
  width: 330px;
  height: 25px;
  top: 229px;
  left: 24px;
}


.hero-poin .text-wrapper-6 {
  top: 0;
  left: 230px;
  text-align: right;
  position: absolute;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #628ecb;
  font-size: 21.2px;
  letter-spacing: 0;
  line-height: 24.4px;
  white-space: nowrap;
}


.hero-poin .overlap-7 {
  position: absolute;
  width: 376px;
  height: 130px;
  top: 516px;
  left: 975px;
  border-radius: 10px;
  border: 2px solid;
  border-color: #6f6b6b;
}


.hero-poin .text-wrapper-7 {
  top: 67px;
  left: 27px;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-weight: 500;
  color: var(--greyscale-800);
  font-size: 21.2px;
  line-height: 24.4px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}


.hero-poin .text-wrapper-8 {
  top: 67px;
  left: 252px;
  position: absolute;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #628ecb;
  font-size: 21.2px;
  letter-spacing: 0;
  line-height: 24.4px;
  white-space: nowrap;
}


.hero-poin .text-wrapper-9 {
  position: absolute;
  top: 703px;
  left: 616px;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.hero-poin .card {
  top: 801px;
  left: 91px;
  position: absolute;
  width: 304px;
  height: 261px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 10px #00000066;
}


.hero-poin .istockphoto {
  position: absolute;
  width: 247px;
  height: 148px;
  top: 29px;
  left: 26px;
  object-fit: cover;
}


.hero-poin .text-wrapper-10 {
  position: absolute;
  top: 205px;
  left: 103px;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.hero-poin .card-2 {
  top: 801px;
  left: 411px;
  position: absolute;
  width: 304px;
  height: 261px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 10px #00000066;
}


.hero-poin .img {
  position: absolute;
  width: 247px;
  height: 148px;
  top: 26px;
  left: 25px;
  object-fit: cover;
}


.hero-poin .text-wrapper-11 {
  position: absolute;
  top: 205px;
  left: 104px;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.hero-poin .card-3 {
  top: 801px;
  left: 731px;
  position: absolute;
  width: 304px;
  height: 261px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 10px #00000066;
}


.hero-poin .text-wrapper-12 {
  position: absolute;
  top: 205px;
  left: 101px;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.hero-poin .card-4 {
  top: 801px;
  left: 1051px;
  position: absolute;
  width: 304px;
  height: 261px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 10px #00000066;
}


.hero-poin .text-wrapper-13 {
  position: absolute;
  top: 205px;
  left: 114px;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.hero-poin .card-5 {
  top: 1081px;
  left: 91px;
  position: absolute;
  width: 304px;
  height: 261px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 10px #00000066;
}


.hero-poin .text-wrapper-14 {
  position: absolute;
  top: 205px;
  left: 79px;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.hero-poin .card-6 {
  top: 1081px;
  left: 411px;
  position: absolute;
  width: 304px;
  height: 261px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 10px #00000066;
}


.hero-poin .element {
  position: absolute;
  width: 247px;
  height: 148px;
  top: 26px;
  left: 25px;
}


.hero-poin .text-wrapper-15 {
  position: absolute;
  top: 205px;
  left: 105px;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.hero-poin .card-7 {
  top: 1081px;
  left: 731px;
  position: absolute;
  width: 304px;
  height: 261px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 10px #00000066;
}


.hero-poin .text-wrapper-16 {
  position: absolute;
  top: 205px;
  left: 94px;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.hero-poin .card-8 {
  top: 1081px;
  left: 1051px;
  position: absolute;
  width: 304px;
  height: 261px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 10px #00000066;
}


.hero-poin .text-wrapper-17 {
  position: absolute;
  top: 205px;
  left: 31px;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.hero-poin .overlap-8 {
  position: absolute;
  width: 1262px;
  height: 61px;
  top: 97px;
  left: 79px;
}


.hero-poin .text-wrapper-18 {
  position: absolute;
  top: 22px;
  left: 1167px;
  font-family: "Helvetica Neue-Heavy", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.hero-poin .group-2 {
  position: absolute;
  width: 1262px;
  height: 61px;
  top: 0;
  left: 0;
}


.hero-poin .group-3 {
  position: absolute;
  width: 558px;
  height: 42px;
  top: 8px;
  left: 362px;
}


.hero-poin .overlap-group-wrapper {
  position: absolute;
  width: 118px;
  height: 42px;
  top: 0;
  left: 0;
}


.hero-poin .overlap-group-2 {
  position: relative;
  width: 116px;
  height: 42px;
  background-image: url(./img/bg\ overlap\ group4.svg);
  background-size: 100% 100%;
}


.hero-poin .text-wrapper-19 {
  top: 15px;
  left: 44px;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-weight: 500;
  font-size: 14.1px;
  white-space: nowrap;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}


.hero-poin .img-wrapper {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 6px;
  left: 8px;
  background-color: #ffffff;
  border-radius: 14.78px;
}


.hero-poin .group-4 {
  position: absolute;
  width: 17px;
  height: 22px;
  top: 4px;
  left: 6px;
}


.hero-poin .overlap-wrapper {
  position: absolute;
  width: 121px;
  height: 42px;
  top: 0;
  left: 144px;
}


.hero-poin .overlap-9 {
  position: relative;
  width: 119px;
  height: 42px;
  background-image: url(./img/bg\ overlap\ group4.svg);
  background-size: 100% 100%;
}


.hero-poin .vector-wrapper {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 6px;
  left: 8px;
  background-image: url(./img/bg\ overlap\ group4.svg);
  background-size: 100% 100%;
}


.hero-poin .vector {
  position: absolute;
  width: 21px;
  height: 20px;
  top: 4px;
  left: 4px;
}


.hero-poin .div-wrapper {
  position: absolute;
  width: 124px;
  height: 42px;
  top: 0;
  left: 291px;
}


.hero-poin .overlap-10 {
  position: relative;
  width: 122px;
  height: 42px;
  background-image: url(./img/bg\ overlap\ group4.svg);
  background-size: 100% 100%;
}


.hero-poin .vector-2 {
  position: absolute;
  width: 21px;
  height: 18px;
  top: 5px;
  left: 4px;
}


.hero-poin .group-5 {
  position: absolute;
  width: 118px;
  height: 42px;
  top: 0;
  left: 442px;
}


.hero-poin .overlap-11 {
  position: relative;
  width: 116px;
  height: 42px;
  background-image: url(./img/bg\ overlap\ group4.svg);
  background-size: 100% 100%;
}


.hero-poin .group-6 {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 6px;
  left: 6px;
}


.hero-poin .group-7 {
  position: absolute;
  width: 239px;
  height: 61px;
  top: 0;
  left: 0;
}


.hero-poin .overlap-12 {
  position: relative;
  height: 61px;
}


.hero-poin .screenshot {
  position: absolute;
  width: 96px;
  height: 61px;
  top: 0;
  left: 0;
}


.hero-poin .screenshot-2 {
  position: absolute;
  width: 164px;
  height: 35px;
  top: 11px;
  left: 75px;
}


.hero-poin .group-8 {
  position: absolute;
  width: 145px;
  height: 41px;
  top: 8px;
  left: 1119px;
}


.hero-poin .overlap-13 {
  position: relative;
  width: 140px;
  height: 49px;
  background-image: url(./img/bg\ profil.svg);
  background-size: 100% 100%;
}


.hero-poin .person-circle {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  left: 13px;
}


.hero-poin .overlap-group-3 {
  position: relative;
  height: 24px;
}


.hero-poin .vector-3 {
  position: absolute;
  width: 16px;
  height: 8px;
  top: 15px;
  left: 4px;
}


.hero-poin .vector-4 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 4px;
  left: 8px;
}


.hero-poin .vector-5 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}


.hero-poin .text-wrapper-20 {
  top: 14px;
  left: 48px;
  font-family: "Helvetica Neue-Heavy", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}
:root {
  --greyscale-800: rgba(26, 27, 37, 1);
}

